# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.py[cod]
*$py.class

# .env file
.env

# C extensions
*.so

# Output folder
/output/

#.env
.venv

node_modules/
.next/

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Windows environment variables
.env

# FastAPI / temporary files
*.sqlite3
__pycache__/
*.db
.env
.env.*
*.env
